@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== BASE GLOBAL ===== */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Base dark global */
body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

/* Evita que el root limite el layout */
#root {
  max-width: none;
  padding: 0;
}
